<div data-role="header" class="bar-title">
    <a href="/" class="button">
      <i class="icon-circle-arrow-left"></i>
    </a>
    <div class="title">Register</div>   
</div>

<div data-role="content" class="content content-padded">
  <form>
    <div class="input-group">
      <div class="input-row">
        <label>Name</label>
        <input name="fullname" type="text" placeholder="Name">
      </div>
      <div class="input-row">  
        <label>Username</label>
        <input name="name" type="text" placeholder="Username">
      </div>
      <div class="input-row">  
        <label>Password</label>
        <input name="password" type="password" placeholder="Password">
      </div>
    </div>

    <a class="button-block button-negative done">REGISTER</a>
  </form>
</div>